@import "http://webfonts.ru/import/aaargh.css";
/*
Index:

01 :Layout
02 :Headings 
03 :Text elements
04 :Links
05 :Alignment
06 :Header
07 :Content
08 :Custom Formats
09 :Media
10 :Navigation
11 :Infinite Scroll
12 :Widget
13 :Footer
14 :Comments
15 :Edit link
17 :Media Queries
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

/*Font*/
input[type=search],
input[type=number],
input[type=button],
input[type=submit],
input[type=reset],
.fileform .selectbutton,
textarea,
button,
select,
body{
	font-family: 'Aspergit','Aaargh','Arian AMU Mono',Arial, Helvetica, sans-serif;	
}
/*/Font*/

html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body{
	font-size:18px;	
	font-weight:600;
	background:#5B4C2E;
	//background-image:url(img/body.png);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section{
	display:block	
}

/*List*/
ol{
	padding-left:30px;
	list-style:decimal;
}

ul{
	margin:3px;
	padding-left:20px;
}

li{
	color:#1B191A;
}
/*/List*/


/*Table*/
table{
	border-collapse:collapse;
	border-spacing:0px;
	margin:3px;
	color:#1B191A;
}

th, td{
	text-align:left;
	border:1px solid #1B191A;
	padding:3px 15px;
	color:#1B191A;	
}

caption{
	border-top:1px solid #1B191A;
	border-left:1px solid #1B191A;	
	border-right:1px solid #1B191A;
	padding:3px 0;
	color:#1B191A;	
}

/*/Table*/

/*Input*/
input[type=button],
input[type=reset],
button{
	font-size:18px;
	font-weight:500;
	color:#FFF;
	background:#C44036;
	border:1px solid #C44036;
	padding:8px 12px;
	font-weight:600;
	margin:3px;
}

input[type=submit]{

}

.submitsearch{
	font-size:18px;
	font-weight:500;
	color:#FFF;
	background:#C44036;
	padding:8px 12px;
	font-weight:600;
	border-top:1px solid #C44036;
	border-bottom:1px solid #C44036;
	border-right:1px solid #C44036;
	border-left:none;		
}

input[type=submit]{
	font-size:18px;
	font-weight:500;
	color:#FFF;
	background:#C44036;
	padding:8px 12px;
	font-weight:600;
	border:1px solid #C44036;
	margin:3px;
}	

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
button:hover{
	color:#C44036;
	background:#fff;
	cursor:pointer
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active,
button:active{
	color:#000;
}

input[type=button]:focus,
input[type=reset]:focus,
button:focus{
	border:1px solid #C44036;
	outline:none
}


input[type=submit]:focus{
	outline:none;	
}

input[type=button]:visited,
input[type=submit]:visited,
input[type=reset]:visited,
button:visited{
	border:1px solid #C44036;
	outline:none	
}

input[type=checkbox],input[type=radio]{
	width:18px;
	height:18px;
	border:none;
	outline:none;
	box-shadow:none
}

input[type=image]{
	outline:none;
	border:none;	
}

input[type=number]{
	outline:none;
	font-size:18px;
	padding:8px 12px;
	letter-spacing:1px;
	margin:0;
	border:1px solid #C44036;
	color:black;		
}

input[type=search]{
	border:1px solid #C44036;	
	color:black;
	outline:none;
	font-size:18px;
	padding:8px 12px;
	letter-spacing:1px;
	margin:0;				
}

.large{
	font-size:22px;
	padding:10px 14px;	
}

.small{
	font-size:16px;
	padding:8px 12px;		
}

.medium{
	font-size:12px;
	padding:6px 10px;		
}

/*/Input*/

/*File*/
input[type=file]{
	color:#1B191A;
}

p{
	margin:1px;
	padding:3px;
	color:#1B191A;		
}

.fileform { 
    background-color: #FFFFFF;
    border: 1px solid #C44036;
    height: 40px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 200px;
	display:inline-block;
	margin:3px;
}
 
.fileform .selectbutton { 
    background-color: #C44036;
    color: #FFFFFF;
    float: right;
    font-size: 16px;
    height: 100%;
    line-height:40px;
    overflow: hidden;
    width: 60px;
	vertical-align:central;
	font-weight:100;
	text-align:center;
	border-left:1px solid #C44036;
}

.selectbutton:hover{
	background-color: #ffffff;
	color:#C44036;
	cursor:pointer
}

.selectbutton:active{
	color:black;
}

input[type=file]{
	height:1px;
	margin-top:-5px;
	display:none
}

#fileformlabel{
	position:absolute;
	width:69%;
	height:26px;
	word-break:break-all;
	overflow:auto;
	padding-top:12px;
}

/*/File*/


/*h1...h6*/
h1{
	display:block;
	font-size:2em;
	margin: 3px 0px;
	padding: 0px 2px;
	color:#1B191A;	
}

h2{
    display: block;
    font-size: 1.5em;
	margin: 3px 0px;
	padding: 0px 2px;
	color:#1B191A;		
}

h3{
    display: block;
    font-size: 1.17em;
	margin: 3px 0px;
	padding: 0px 2px;
	color:#1B191A;	
}

h4{
    display: block;
	margin: 3px 0px;
	padding: 0px 2px;
	color:#1B191A;	
}

h5{
    display: block;
    font-size: .83em;
	margin: 3px 0px;
	padding: 0px 2px;
	color:#1B191A;	
}

h6{
    display: block;
    font-size: .67em;
	margin: 3px 0px;
	padding: 0px 2px;
}

/*h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
span::selection,
div::selection,
li::selection
{
	background:#C44036;
}*/

strong,b{
	font-weight:bolder;
	display:block;
	margin:2px;
	font-size:20px;
}
/*/h1...h6*/

textarea{
	width:250px;
	height:80px;
	margin:3px;
    border: 1px solid #C44036;
	font-size:18px;
	outline:none;	
}

select{
	outline:none;
    border: 1px solid #C44036;
	font-size:18px;
	color:#C44036;
	font-weight:600;
	margin:3px;
	overflow:hidden
}

/*a(link)*/
a{
	margin:3px;
	font-size:20px;
	color:#C44036;	
}

a:hover{
	color:black;
	text-decoration:none;	
}

h1 a{
	font-size:2em;	
}

h2 a{
	font-size: 1.5em;
}

h3 a{
	font-size: 1.17em;	
}

h5 a{
	font-size: .83em;
}

h6 a{
	font-size: .67em;
}

/*/a(link)*/

/*.nav*/
nav{
	padding-top:15px;
	//float:right;
	text-align:right;
	margin-right:100px;
}

nav ul{
	list-style-type:none;
}

.inline_nav{
	display:inline-block;	
}

.block-nav{
	display:block;	
}

nav a{
	display:inline-block;
	width:100px;
	height:100%;
	background:#C44036;
	color:white;
	text-decoration:none;
	text-align:center;
	font-size:24px;
	padding:10px 0px;
	border: 1px solid #C44036;
}

nav a:hover{
	background:white;
	color:#C44036;
	cursor:pointer;
}

nav a:active{
	color:#1B191A;	
}
/*/nav*/

/*.nav*/
.nav{
	text-align:left;
	height:100px;
	border-bottom: 4px solid #C44036;	
}

.nav2{
	position:fixed;
	width:90%;
	text-align:left;
	height:100px;
	border-bottom: 4px solid #C44036;
	top:-120px;
	transition:.5s all;
	z-index:100;
}

.nav ul,.nav2 ul{
	list-style-type:none;	
}

.nav a,.nav2 a{
	display:block;
	text-decoration:none;		
	height:100px;
	line-height:95px;
	width:110px;
	text-align:center;
	margin:0;
	transition:0.1s linear;
}

.nav li a:hover,.nav2 li a:hover{
	background:#C44036;
	color:black;
}

.nav li a:active,.nav2 li a:active{
	color:white;	
}

/*/.nav*/

header{
	background:#1B191A;
	color:#C44036;
	position:relative;
}

#head{
	background:#FFF;
	height:130px;	
}

/*Logo*/
.logo{
	position: absolute;
	top:30%;
	left:5%;
	font-size:40px;
	transition: 0.1s ease-in;
	color:black;
}

.logo:hover{
	color:#DB2C2B;
	cursor:pointer;
}
/*/Logo*/

._main_content{
	width:60%;
	text-align:justify;
	margin:30px 40px;	
}

.left_img{
	float:left;
	margin-right:12px;	
}

.right_img{
	float:right;
	margin-left:12px;
}

._main_content::after{
	content:'';
	width:100%;
	border-bottom:1px solid #C44036;
	display:block;
	margin-top:15px;
	margin-bottom:15px;
}

._main_content::before{
	content:'';
	width:100%;
	border-bottom:1px solid #C44036;
	display:block;
	margin-bottom:15px;		
}

#_content_width{
	width:90%;
	margin:30px auto;
	background:#E9E3D7;
	box-shadow:0px 0px 10px 1px black;		
}

/*Right navigation*/
.all_info{
	position:relative;	
}

._navigation_content{
	width:30%;
	position:absolute;
	right:0%;
	top:380px;
}

.caption_li{
	list-style-type:none;
	text-shadow:0px 0px 2px #C44036;
	font-size:22px;
	background:black;
	padding:6px 6px;
	color:#C44036;
	width:50%;	
}

.caption_li~li{
	list-style-type:none;
	width:100%;
	padding-left:10px
}

.caption_li~li>a{
	text-decoration:none;
	display:block;
}

.caption_li~li::after{
	content:'';
	width:50%;
	display:block;
}

.caption_li~li>a:hover{
	color:#1B191A;
	text-shadow:2px 2px 1px #666666;
}


.caption_li~li::before{
	content:'';
	width:50%;
	display:block;
	border-bottom: 1px solid #C44036;
	margin-top:10px;
}

.caption_li~li:last-child::after{
	padding-bottom:4px;
	border-bottom:1px solid #C44036; 	
}

.rsectionl{
	padding:1px;	
}
/*/Right navigation*/

.search{
	position:absolute;
	top:10%;
	left:62%;	
}

/*footer*/
#footer{
	width:100%;
	background:#1B191A;
	color:#C44036;
	height:180px;
//	margin-bottom:30px;
	position:relative;
}

#footer ul li{
	color:#C44036;
	list-style-type:none;
}

.cont_footer{
	position:absolute;
	left:0;
	top:0;
	width:30%;
	padding:30px 60px;
}

.cont_footer_inline{
	float:right;
	width:30%;
	padding:30px 60px;	
}
/*/footer*/

/*gallery*/
.gallery{	
	position:relative;
}

.navig_btn_gal{
	position:absolute;
	bottom:12px;
	color;white;
}

.navig_btn_gal>li{
	color:white;
	display:inline-block;
	width:15px;
	height:15px;
	background:black;
	border:1px solid white;
	position:relative;
}

.navig_btn_gal li ul li{
	position:absolute;
	top:2px;
	left:2px;
	width:11px;
	height:11px;
	background:#DB2C2B;
	list-style-type:none;
}

.gallery_btn{
	position:absolute;
	bottom:5%;
	right:2%;	
}

/*/gallery*/



